export(AADescs)
export(CorrelationPlot)
export(DensityResponse)
export(DrawMoleculeInSDF)
export(ErrorBarplot)
export(GeneratePadelDescriptors)
export(GetCVTrainControl)
#export(GetLegend)
export(GetPropertiesSDF)
export(GetPropertySDF)
export(ImputeFeatures)
export(MAE)
export(MaxPerf)
export(MinPerf)
export(MorganFPs)
export(PCA)
export(PCAPlot)
export(PairwiseDist)
export(PairwiseDistPlot)
export(PlotMolecules)
export(PreProcess)
export(PredictExternal)
export(Qsquared1)
export(Qsquared2)
export(Qsquared3)
export(RMSE)
export(RMSE_CV)
export(RemoveHighlyCorrelatedFeatures)
export(RemoveNearZeroVarianceFeatures)
export(RemoveStandardisedPrefix)
export(ReplaceInfinitesWithNA)
export(Rsquared)
export(Rsquared0)
export(Rsquared_CV)
export(SeqDescs)
export(ShowPropertiesSDF)
export(SplitSet)
export(StandardiseMolecules)
export(Validation)
export(YScrambling)
export(caretEnsemble)
export(caretStack)
#export(checkAA)
export(checkModels_extractTypes)
export(checkPreds)
#export(convert31)
export(expGrid)
export(extractBestPreds)
export(greedOptAUC)
export(greedOptRMSE)
#export(isnot.null)
export(makePredObsMatrix)
export(mergeData)
export(multiPredict)
export(predict.caretEnsemble)
export(predict.caretStack)
export(slope)

## packages
#import(rJava)
import(ggplot2)
import(pbapply)
import(caTools)
import(caret)
#import(impute)
import(kernlab)
import(gbm)
import(grid)
import(gridExtra)
import(vegan)
import(protr)
import(maptools)
import(directlabels)

useDynLib(camb)
